@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #42b983;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} 